@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;500;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary: #fdfffc;
    --secondary: #ffa41c;
    --third: #8d2626;
    --title-color: #181715;
    --subtitle-color: #e5e5e5;
    --loading-color: #8d8d92;
}
html {
    font-family: "Dosis", sans-serif;
    font-size: 62.5%;
}
body {
    background-color: var(--primary);
    color: var(--title-color);
    margin: 0 auto;
    max-width: 800px;
    min-width: 375px;
}
.category-container-loader {
    animation: loading-skeleton infinite 1.5s;
    div:nth-child(1) {
        width: 25px;
        height: 100%;
        margin-right: 13px;
        background-color: var(--loading-color);
        border-radius: 8px;
    }
    div:nth-child(2) {
        width: 100%;
        height: 100%;
        background-color: var(--loading-color);
        border-radius: 7px;
    }
}
.category-container-loader:nth-child(even) {
    animation-delay: 0.2s;
}

.trendingPreview-movieList {
    min-height: 225px;
    .movie-container {
        display: inline-block;
    }
}
.movie-container {
    min-height: 225px;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 2.3rem;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    position: relative;

    .like-btn {
        position: absolute;
        right: 10px;
        top: 15px;
        width: 30px;
        height: 30px;
        background-color: var(--loading-color);
        border-radius: 50%;
        border: none;
        background-image: url(../imgs/Star.png);
        background-size: 20px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        display: none;
        &:hover {
            background-image: url(../imgs/redstar.png);
            background-color: var(--primary);
        }
    }
    .like-btn--liked {
        background-image: url(../imgs/redstar.png);
        background-color: var(--primary);
        display: block;
    }
    &:hover {
        .like-btn {
            display: block;
        }
    }
}
.liked-movie-container {
    padding: 0 3em;
    .liked-header {
        margin-bottom: 1em;
        .liked-title {
            font-size: 1.8rem;
        }
    }
    .liked-movieList {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        .movie-container {
            .movie-img {
                width: 100%;
                height: 100%;
            }
            .like-btn {
                cursor: pointer;
                &:hover {
                    background-color: var(--loading-color);

                    background-image: url(../imgs/Star.png);
                }
            }
        }
    }
}
.movie-container-loading {
    background: var(--loading-color);
    width: 150px;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    animation: loading-skeleton infinite 1.5s;
}
.movie-container-loading:nth-child(even) {
    animation-delay: 0.2s;
}

.header-section {
    width: 100%;
    padding: 0 3em;
    margin: 0 auto;
    margin-bottom: 3em;
    h1 {
        margin-top: 1em;
        margin-bottom: 1em;
        font-weight: bold;
        font-size: 2.3rem;
        color: var(--title-color);
        .logo {
            color: var(--secondary);
        }
    }
    form {
        width: 100%;
        .search-container {
            background-color: var(--secondary);
            width: 100%;
            background-color: var(--primary);
            border: 1px solid #ddd;
            border-radius: 10px;
            position: relative;
            display: flex;
            align-items: center;

            input {
                border: none;
                padding: 0.7em 1em;
                border-radius: 10px;
                width: 100%;
                height: 100%;
                font-family: "Dosis", sans-serif;

                &::placeholder {
                    font-weight: bold;
                    color: #a0a0a0;
                }
                &:focus {
                    outline: 1px solid var(--secondary);
                }
            }
            .svg-container {
                position: absolute;
                background-color: var(--secondary);
                right: 0;
                height: 100%;
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                cursor: pointer;
                svg {
                    width: 20px;

                    path {
                        fill: var(--title-color);
                    }
                }
            }
        }
    }
}
.trendingPreview-container {
    width: 100%;
    padding: 0 3em;
    margin: 0 auto;
    margin-bottom: 1em;
    .trend-title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2em;
        h2 {
            font-size: 1.8rem;
        }
        button {
            cursor: pointer;
            border: none;
            padding: 0.5em 1em;
            background-color: var(--title-color);
            color: var(--secondary);
            border-radius: 10px;
        }
    }
    .trendingPreview-movieList {
        display: grid;
        grid-template-columns: repeat(20, 1fr);
        gap: 10px;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;
        .movie-container {
            scroll-snap-align: center;
        }
    }
}
.categoriesPreview-container {
    width: 100%;
    padding: 0 3em;
    margin: 0 auto;
    margin-bottom: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    h2 {
        font-size: 1.8rem;
        width: 100%;
        margin-bottom: 0.3em;
    }
}
.category-container {
    display: flex;
    height: 25px;
    align-items: center;
    justify-content: center;
    width: 45%;
    cursor: pointer;

    .category-title-color {
        width: 25px;
        height: 100%;
        margin-right: 13px;
        border-radius: 8px;
        background-color: var(--idcolor);
    }
    .color1 {
        background-color: #eecc75;
    }
    .color2 {
        background-color: #f09d9d;
    }
    .color3 {
        background-color: #cad297;
    }
    .color4 {
        background-color: #b7eac5;
    }
    .color5 {
        background-color: #a2eee5;
    }
    .color6 {
        background-color: #8ea2ea;
    }
    h3 {
        font-weight: 500;
        width: 70%;
        font-size: 1.8rem;
        &:hover {
            text-decoration: underline;
        }
    }
}
.movieDetail-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 1em;
    position: relative;

    .movie-img {
        width: 100%;
        border-radius: 0;
        height: 600px;
        max-width: 500px;
        text-align: center;
        z-index: 2;
        position: relative;
    }
    .background-color {
        width: 100%;
        max-width: 500px;
        height: 400px;
        position: absolute;
        background: url(hidden);
    }
    .movieDetail-container__details {
        position: relative;
        margin-top: -35px;
        padding: 0 3em;
        z-index: 2;
        background-color: var(--primary);
        border-radius: 25px 25px 0px 0px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 2.5em;
        width: 100%;
        margin-bottom: 3em;
        .movieDetail-Title__container {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            position: relative;
            margin-bottom: 2em;

            .movieDetail-Title {
                font-size: 2.5rem;
                width: 80%;
            }
            .movieDetail-score-container {
                .score-star {
                    width: 16px;
                    position: absolute;
                    top: calc(100% - 10px);
                    right: 25px;
                    path {
                        fill: var(--secondary);
                    }
                }
                .movieDetail-score {
                    font-size: 1.6rem;
                    position: absolute;
                    width: 20px;
                    text-align: left;
                    right: 0;
                    top: calc(100% - 12.5px);
                }
            }
        }
        .movieDetail-description {
            font-size: 1.6rem;
            color: var(--title-color);
            margin-bottom: 1.5em;
        }
        .categories-list {
            width: 100%;
            margin: 0 auto;
            margin-bottom: 1.5em;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
        }
    }
}
.movie-img {
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
}

.genericList-container {
    min-width: 375px;
    margin: 0 auto;
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.seeMore-btn {
    cursor: pointer;
    border: none;
    padding: 0.5em 1em;
    background-color: var(--title-color);
    color: var(--secondary);
    border-radius: 10px;
}
#seeMoreBtnContainer {
    text-align: center;
    margin-top: 1.5em;
}
.related-movies-container {
    padding: 0 3em;

    h2 {
        margin-bottom: 1em;
        font-size: 1.8rem;
    }
}
#relatedMoviesContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, auto));
    grid-template-rows: repeat(10, minmax(228.75px, auto));
    height: 100%;
    gap: 10px;
    .movie-img {
        width: 100%;
        height: auto;
        cursor: pointer;
        border-radius: 10px;
    }
    .movie-container-loading {
        width: 100%;
        min-height: 228.75px;
    }
}
#id28 {
    --idcolor: #7c6a0a;
}
#id12 {
    --idcolor: #729b79;
}
#id10749 {
    --idcolor: #db5461;
}
#id16 {
    --idcolor: #7d84b2;
}
#id35 {
    --idcolor: #e54b4b;
}
#id80 {
    --idcolor: #8661c1;
}
#id99 {
    --idcolor: #be97c6;
}
#id18 {
    --idcolor: #f42b03;
}
#id10751 {
    --idcolor: #50723c;
}
#id14 {
    --idcolor: #998da0;
}
#id27 {
    --idcolor: #119da4;
}
#id10402 {
    --idcolor: #6f7d8c;
}
#id36 {
    --idcolor: #7b7554;
}
#id9648 {
    --idcolor: #a11692;
}
#id878 {
    --idcolor: #7f95d1;
}
#id10770 {
    --idcolor: #7a918d;
}
#id53 {
    --idcolor: #c44536;
}
#id10752 {
    --idcolor: #197278;
}
#id37 {
    --idcolor: #e5a4cb;
}
#arrowContainer {
    position: relative;
    height: 50px;
}

.goBack-arrow-container {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    .goBack-arrow {
        width: 40px;
        position: fixed;
        margin-left: 3em;
        z-index: 5;
        background-color: var(--secondary);
        opacity: 0.5;
        border-radius: 50%;
        cursor: pointer;
        path {
            fill: var(--primary);
        }
    }
}

.arrowOnDetail {
    z-index: 10;
    position: absolute;
}
.goBack-arrow-movie-section {
    width: 40px;
    position: fixed;
    top: 15px;
    margin-left: 3em;
    z-index: 5;
    background-color: var(--secondary);
    opacity: 0.7;
    border-radius: 50%;
    cursor: pointer;
    path {
        fill: var(--primary);
    }
}

@media only screen and (min-width: 1440px) {
    body {
        max-width: 100%;
        display: grid;
        grid-template-columns: 15% 70% 15%;
        grid-template-rows: auto auto;
    }
    .header-section {
        .header-genre-title {
            margin-left: 0;
        }
    }
    .movie-container-loading {
        width: 100%;
        height: 100%;
    }
    .trendingPreview-container {
        grid-column: 2;
        grid-row: 1 / 2;
        margin-bottom: 0;
        padding-top: 2em;
        border-right: 3px solid var(--title-color);
        border-left: 3px solid var(--title-color);
        .trend-title-container {
            h2 {
                font-size: 2.5rem;
            }
        }
        .trendingPreview-movieList {
            height: 100%;
            overflow-x: hidden;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(5, minmax(342px, auto));
            .movie-img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .liked-movie-container {
        border-right: 3px solid var(--title-color);
        border-left: 3px solid var(--title-color);
        grid-row: 2 / 3;
        grid-column: 2;
        .liked-header {
            margin-top: 8em;
            margin-bottom: 2em;
            .liked-title {
                font-size: 2.5rem;
            }
        }
    }
    .categoriesPreview-container {
        padding-top: 2em;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
        margin-bottom: 0;
        gap: 0;
        display: block;
        h2 {
            font-size: 2.5rem;
        }
        .category-container {
            width: 100%;
            margin: 1.5em 0;
        }
    }
    .header-section {
        padding-left: 0em;
        padding-top: 2em;
        margin-bottom: 0;
        .header-main-title {
            font-size: 3rem;
            margin-top: 0;
        }
    }

    .movieDetail-container {
        max-width: 1440px;
        grid-column: 2;
        display: flex;
        flex-direction: column;
        align-items: center;

        .background-color {
            height: 750px;
            max-width: 1440px;
            filter: blur(35px);
        }
        .movie-img {
            justify-self: center;
            height: 100%;
        }
        .goBack-arrow-movie-section {
            left: 210px;
        }
        .movieDetail-container__details {
            padding: 0 6em;
            padding-top: 2.5em;
            .movieDetail-description {
                font-size: 2rem;
                padding-right: 3em;
            }
            .categories-list {
                flex-wrap: nowrap;
                justify-content: flex-start;
                .category-container {
                    justify-content: flex-start;
                }
            }
        }
        .related-movies-container {
            padding: 0 6em;
            h2 {
                font-size: 2rem;
            }
        }
    }
    #relatedMoviesContainer {
        grid-template-columns: repeat(4, minmax(214.5px, auto));
        .movie-container-loading {
            height: 100%;
        }
    }
    .genericList-container {
        grid-column: 2;
        display: grid;
        grid-template-columns: repeat(4, minmax(244.5px, auto));
        grid-template-rows: repeat(5, minmax(366px, auto));
        .movie-img {
            width: 100%;
        }
    }
    #seeMoreBtnContainer {
        grid-column: 2;
    }
}

.inactive {
    display: none !important;
}

@keyframes loading-skeleton {
    0%,
    100% {
        opacity: 70%;
    }
    50% {
        opacity: 10%;
    }
}
