@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --primary: #fdfffc;
  --secondary: #ffa41c;
  --third: #8d2626;
  --title-color: #181715;
  --subtitle-color: #e5e5e5;
  --loading-color: #8d8d92;
}

html {
  font-family: "Dosis", sans-serif;
  font-size: 62.5%;
}

body {
  background-color: var(--primary);
  color: var(--title-color);
  margin: 0 auto;
  max-width: 800px;
  min-width: 375px;
}

.category-container-loader {
  -webkit-animation: loading-skeleton infinite 1.5s;
          animation: loading-skeleton infinite 1.5s;
}

.category-container-loader div:nth-child(1) {
  width: 25px;
  height: 100%;
  margin-right: 13px;
  background-color: var(--loading-color);
  border-radius: 8px;
}

.category-container-loader div:nth-child(2) {
  width: 100%;
  height: 100%;
  background-color: var(--loading-color);
  border-radius: 7px;
}

.category-container-loader:nth-child(even) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.trendingPreview-movieList {
  min-height: 225px;
}

.trendingPreview-movieList .movie-container {
  display: inline-block;
}

.movie-container {
  min-height: 225px;
  min-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  font-size: 2.3rem;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}

.movie-container-loading {
  background: var(--loading-color);
  width: 150px;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-animation: loading-skeleton infinite 1.5s;
          animation: loading-skeleton infinite 1.5s;
}

.movie-container-loading:nth-child(even) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.header-section {
  width: 100%;
  padding: 0 3em;
  margin: 0 auto;
  margin-bottom: 3em;
}

.header-section h1 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 2.3rem;
  color: var(--title-color);
}

.header-section h1 .logo {
  color: var(--secondary);
}

.header-section form {
  width: 100%;
}

.header-section form .search-container {
  background-color: var(--secondary);
  width: 100%;
  background-color: var(--primary);
  border: 1px solid #ddd;
  border-radius: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-section form .search-container input {
  border: none;
  padding: 0.7em 1em;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  font-family: "Dosis", sans-serif;
}

.header-section form .search-container input::-webkit-input-placeholder {
  font-weight: bold;
  color: #a0a0a0;
}

.header-section form .search-container input:-ms-input-placeholder {
  font-weight: bold;
  color: #a0a0a0;
}

.header-section form .search-container input::-ms-input-placeholder {
  font-weight: bold;
  color: #a0a0a0;
}

.header-section form .search-container input::placeholder {
  font-weight: bold;
  color: #a0a0a0;
}

.header-section form .search-container input:focus {
  outline: 1px solid var(--secondary);
}

.header-section form .search-container .svg-container {
  position: absolute;
  background-color: var(--secondary);
  right: 0;
  height: 100%;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.header-section form .search-container .svg-container svg {
  width: 20px;
}

.header-section form .search-container .svg-container svg path {
  fill: var(--title-color);
}

.trendingPreview-container {
  width: 100%;
  padding: 0 3em;
  margin: 0 auto;
  margin-bottom: 1em;
}

.trendingPreview-container .trend-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2em;
}

.trendingPreview-container .trend-title-container h2 {
  font-size: 1.8rem;
}

.trendingPreview-container .trend-title-container button {
  cursor: pointer;
  border: none;
  padding: 0.5em 1em;
  background-color: var(--title-color);
  color: var(--secondary);
  border-radius: 10px;
}

.trendingPreview-container .trendingPreview-movieList {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[20];
      grid-template-columns: repeat(20, 1fr);
  gap: 10px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  -ms-scroll-snap-type: x proximity;
      scroll-snap-type: x proximity;
}

.trendingPreview-container .trendingPreview-movieList .movie-container {
  scroll-snap-align: center;
}

.categoriesPreview-container {
  width: 100%;
  padding: 0 3em;
  margin: 0 auto;
  margin-bottom: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.categoriesPreview-container h2 {
  font-size: 1.8rem;
  width: 100%;
  margin-bottom: 0.3em;
}

.category-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45%;
  cursor: pointer;
}

.category-container .category-title-color {
  width: 25px;
  height: 100%;
  margin-right: 13px;
  border-radius: 8px;
  background-color: var(--idcolor);
}

.category-container .color1 {
  background-color: #eecc75;
}

.category-container .color2 {
  background-color: #f09d9d;
}

.category-container .color3 {
  background-color: #cad297;
}

.category-container .color4 {
  background-color: #b7eac5;
}

.category-container .color5 {
  background-color: #a2eee5;
}

.category-container .color6 {
  background-color: #8ea2ea;
}

.category-container h3 {
  font-weight: 500;
  width: 70%;
  font-size: 1.8rem;
}

.category-container h3:hover {
  text-decoration: underline;
}

.movieDetail-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 1em;
  position: relative;
}

.movieDetail-container .movie-img {
  width: 100%;
  border-radius: 0;
  height: 600px;
  max-width: 500px;
  text-align: center;
  z-index: 2;
  position: relative;
}

.movieDetail-container .background-color {
  width: 100%;
  max-width: 500px;
  height: 400px;
  position: absolute;
  background: url(hidden);
}

.movieDetail-container .movieDetail-container__details {
  position: relative;
  margin-top: -35px;
  padding: 0 3em;
  z-index: 2;
  background-color: var(--primary);
  border-radius: 25px 25px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2.5em;
  width: 100%;
  margin-bottom: 3em;
}

.movieDetail-container .movieDetail-container__details .movieDetail-Title__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 2em;
}

.movieDetail-container .movieDetail-container__details .movieDetail-Title__container .movieDetail-Title {
  font-size: 2.5rem;
  width: 80%;
}

.movieDetail-container .movieDetail-container__details .movieDetail-Title__container .movieDetail-score-container .score-star {
  width: 16px;
  position: absolute;
  top: calc(100% - 10px);
  right: 25px;
}

.movieDetail-container .movieDetail-container__details .movieDetail-Title__container .movieDetail-score-container .score-star path {
  fill: var(--secondary);
}

.movieDetail-container .movieDetail-container__details .movieDetail-Title__container .movieDetail-score-container .movieDetail-score {
  font-size: 1.6rem;
  position: absolute;
  width: 20px;
  text-align: left;
  right: 0;
  top: calc(100% - 12.5px);
}

.movieDetail-container .movieDetail-container__details .movieDetail-description {
  font-size: 1.6rem;
  color: var(--title-color);
  margin-bottom: 1.5em;
}

.movieDetail-container .movieDetail-container__details .categories-list {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.movie-img {
  width: 150px;
  border-radius: 10px;
  cursor: pointer;
}

.genericList-container {
  min-width: 375px;
  margin: 0 auto;
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.seeMore-btn {
  cursor: pointer;
  border: none;
  padding: 0.5em 1em;
  background-color: var(--title-color);
  color: var(--secondary);
  border-radius: 10px;
}

#seeMoreBtnContainer {
  text-align: center;
  margin-top: 1.5em;
}

.related-movies-container {
  padding: 0 3em;
}

.related-movies-container h2 {
  margin-bottom: 1em;
  font-size: 1.8rem;
}

#relatedMoviesContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, auto))[2];
      grid-template-columns: repeat(2, minmax(150px, auto));
  -ms-grid-rows: (minmax(228.75px, auto))[10];
      grid-template-rows: repeat(10, minmax(228.75px, auto));
  height: 100%;
  gap: 10px;
}

#relatedMoviesContainer .movie-img {
  width: 100%;
  height: auto;
  cursor: pointer;
  border-radius: 10px;
}

#relatedMoviesContainer .movie-container-loading {
  width: 100%;
  min-height: 228.75px;
}

#id28 {
  --idcolor: #7c6a0a;
}

#id12 {
  --idcolor: #729b79;
}

#id10749 {
  --idcolor: #db5461;
}

#id16 {
  --idcolor: #7d84b2;
}

#id35 {
  --idcolor: #e54b4b;
}

#id80 {
  --idcolor: #8661c1;
}

#id99 {
  --idcolor: #be97c6;
}

#id18 {
  --idcolor: #f42b03;
}

#id10751 {
  --idcolor: #50723c;
}

#id14 {
  --idcolor: #998da0;
}

#id27 {
  --idcolor: #119da4;
}

#id10402 {
  --idcolor: #6f7d8c;
}

#id36 {
  --idcolor: #7b7554;
}

#id9648 {
  --idcolor: #a11692;
}

#id878 {
  --idcolor: #7f95d1;
}

#id10770 {
  --idcolor: #7a918d;
}

#id53 {
  --idcolor: #c44536;
}

#id10752 {
  --idcolor: #197278;
}

#id37 {
  --idcolor: #e5a4cb;
}

#arrowContainer {
  position: relative;
  height: 50px;
}

.goBack-arrow-container {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.goBack-arrow-container .goBack-arrow {
  width: 40px;
  position: fixed;
  margin-left: 3em;
  z-index: 5;
  background-color: var(--secondary);
  opacity: 0.5;
  border-radius: 50%;
  cursor: pointer;
}

.goBack-arrow-container .goBack-arrow path {
  fill: var(--primary);
}

.arrowOnDetail {
  z-index: 10;
  position: absolute;
}

.goBack-arrow-movie-section {
  width: 40px;
  position: fixed;
  top: 15px;
  margin-left: 3em;
  z-index: 5;
  background-color: var(--secondary);
  opacity: 0.7;
  border-radius: 50%;
  cursor: pointer;
}

.goBack-arrow-movie-section path {
  fill: var(--primary);
}

@media only screen and (min-width: 1440px) {
  body {
    max-width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 15% 70% 15%;
        grid-template-columns: 15% 70% 15%;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .header-section .header-genre-title {
    margin-left: 0;
  }
  .movie-container-loading {
    width: 100%;
    height: 100%;
  }
  .trendingPreview-container {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 3 / 3;
    margin-bottom: 0;
    padding-top: 2em;
    border-right: 3px solid var(--title-color);
    border-left: 3px solid var(--title-color);
  }
  .trendingPreview-container .trend-title-container h2 {
    font-size: 2.5rem;
  }
  .trendingPreview-container .trendingPreview-movieList {
    height: 100%;
    overflow-x: hidden;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (minmax(342px, auto))[5];
        grid-template-rows: repeat(5, minmax(342px, auto));
  }
  .trendingPreview-container .trendingPreview-movieList .movie-img {
    width: 100%;
    height: 100%;
  }
  .categoriesPreview-container {
    padding-top: 2em;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 4;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 1;
    margin-bottom: 0;
    gap: 0;
    display: block;
  }
  .categoriesPreview-container h2 {
    font-size: 2.5rem;
  }
  .categoriesPreview-container .category-container {
    width: 100%;
    margin: 1.5em 0;
  }
  .header-section {
    padding-left: 0em;
    padding-top: 2em;
    margin-bottom: 0;
  }
  .header-section .header-main-title {
    font-size: 3rem;
    margin-top: 0;
  }
  .movieDetail-container {
    max-width: 1440px;
    -ms-grid-column: 2;
    grid-column: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .movieDetail-container .background-color {
    height: 750px;
    max-width: 1440px;
    -webkit-filter: blur(35px);
            filter: blur(35px);
  }
  .movieDetail-container .movie-img {
    -ms-grid-column-align: center;
        justify-self: center;
    height: 100%;
  }
  .movieDetail-container .goBack-arrow-movie-section {
    left: 210px;
  }
  .movieDetail-container .movieDetail-container__details {
    padding: 0 6em;
    padding-top: 2.5em;
  }
  .movieDetail-container .movieDetail-container__details .movieDetail-description {
    font-size: 2rem;
    padding-right: 3em;
  }
  .movieDetail-container .movieDetail-container__details .categories-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .movieDetail-container .movieDetail-container__details .categories-list .category-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .movieDetail-container .related-movies-container {
    padding: 0 6em;
  }
  .movieDetail-container .related-movies-container h2 {
    font-size: 2rem;
  }
  #relatedMoviesContainer {
    -ms-grid-columns: (minmax(214.5px, auto))[4];
        grid-template-columns: repeat(4, minmax(214.5px, auto));
  }
  #relatedMoviesContainer .movie-container-loading {
    height: 100%;
  }
  .genericList-container {
    -ms-grid-column: 2;
    grid-column: 2;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(244.5px, auto))[4];
        grid-template-columns: repeat(4, minmax(244.5px, auto));
    -ms-grid-rows: (minmax(366px, auto))[5];
        grid-template-rows: repeat(5, minmax(366px, auto));
  }
  .genericList-container .movie-img {
    width: 100%;
  }
  #seeMoreBtnContainer {
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

.inactive {
  display: none !important;
}

@-webkit-keyframes loading-skeleton {
  0%,
  100% {
    opacity: 70%;
  }
  50% {
    opacity: 10%;
  }
}

@keyframes loading-skeleton {
  0%,
  100% {
    opacity: 70%;
  }
  50% {
    opacity: 10%;
  }
}
/*# sourceMappingURL=app.css.map */